<a href="https://colab.research.google.com/github/kyalan/CUHK-STAT5106-2020/blob/main/Week_7_Tuple_List_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
print([1, 24, 76])
print(['red', 'yellow', 'blue'])
print(['red', 24, 98.6])
print([ 1, [5, 6], 7])
print([])

In [ ]:
professors = ['Michael', 'Tony', 'Ben']
for prof in professors :
    print('Happy New Year:',  prof)
print('Done!')
print(professors[1])
print(len(professors))
print(range(len(professors)))

for i in range(len(professors)):
    print('Happy New Year:',  professors[i])
    
professors.sort()
print(professors)
professors.reverse()
print(professors)

In [ ]:
# List Concatenation
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

In [ ]:
# List Slicing
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])
print(len(t), max(t), min(t), sum(t), sum(t)/len(t))

In [ ]:
# List as a container
stuff = []
# or stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

# check element in the list
some = [1, 9, 21, 10, 16]
print(9 in some
, 15 in some
, 20 not in some)

# Tuple

In [ ]:
x = ('Iris', 'Yanny', 'Wendy')
print(x[2])
y = ( 1, 9, 2 )
print(y)
print(max(y))

numlist = [9, 8, 7]
numlist[2] = 6
print(numlist)
numtuple = (5, 4, 3)
numtuple[2] = 0

numtuple.sort()
numtuple.append(5)
numtuple.reverse()

In [ ]:
print(
    type(numlist)
    , dir(numlist)
    , type(numtuple)
    , dir(numtuple)
)

In [ ]:
# multiple assignment
(x, y) = (4, 'esther')
print(y)
a, b = (99, 98)
print(a)

In [ ]:
# Comparison
print(
    (0, 1, 2) < (5, 1, 2)
    , (0, 1, 2000000) < (0, 3, 4)
    , ( 'Jones', 'Sally' ) < ('Jones', 'Sam')
    , ( 'Jones', 'Sally') > ('Adams', 'Sam')
)

# Dictionary

In [ ]:
purse = {}
# or purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)
print(purse['candy'])
purse['candy'] = purse['candy'] + 2
print(purse)

In [ ]:
jjj = { 'Ben' : 1 , 'Tony' : 42, 'Philip': 100}
print(jjj)

In [ ]:
# Counting Example
ccc = {'Alan':1, 'Tony':2}
print(ccc)
print(ccc['Ben'])
print('Ben' in ccc)

counts = {}
names = ['Ben', 'Tony', 'Ben', 'Philip', 'Michael']
for name in names :
    if name not in counts: 
        counts[name] = 1
    else :
        counts[name] = counts[name] + 1
print(counts)

counts = {}
names = ['Ben', 'Tony', 'Ben', 'Philip', 'Michael']
for name in names :
    counts[name] = counts.get(name, 0) + 1
print(counts)

# Shorten Loops

Map

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
print(list(cheapest))

Lambda functions

In [ ]:
def wmin(x, y):
    return (min(x*2.0, y*3.0))
print(map(wmin, store1, store2))
print(map(lambda x, y: min(x*2.0, y*3.0), store1, store2))

List Comprehension

In [ ]:
my_list = []
for number in range(1000):
    if number % 2 == 0:
        my_list.append(number)
print(my_list)

my_list2 = [number for number in range(1000) if number % 2 == 0]
print(my_list2)

professors = ['Michael', 'Tony', 'Ben']
for prof in professors :
    print('Happy New Year:',  prof)
[print('Happy New Year:',  prof) for prof in professors]

# Dictionary Comprehension
cabins = ['First Class', 'Business', 'Economy']
nchar_cabins = {cabin: len(cabin) for cabin in cabins}
print(nchar_cabins)